/* Header */
.header {
  display: grid;
  grid-template-columns: 306px auto;
}

.logo {
  display: flex;
  align-items: center;
  margin: 36px 0 64px 20px;
}

.icon-logo {
  font-size: var(--fs-big);
  transition: transform 0.5s ease-in-out;
}

.logo:hover .icon-logo {
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Сховане положення бургер-іконки за замовчуванням */
.burger-icon,
.close-icon {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .burger-icon, .close-icon {
    display: block;
  }
  .sidebar {
    transform: translateX(-100%);
  }
}

.sidebar.hidden {
  transform: translateX(100%);
}

.page-title {
  font-size: var(--fs-big);
  font-weight: var(--fw-semibold);
  padding-right: 5px;
  padding-left: 10px;
}

.page-title-version {
  font-weight: var(--fw-regular);
  font-size: var(--fs-extra-small);
  color: var(--c-extra-light-grey);
  padding-top: 10px;
}

.header-greeting {
  display: flex;
  justify-content: space-between;
  padding: 37px 0 51px 71px;
  background-color: var(--c-bgd-grey);
}

.header-greeting-title {
  font-size: var(--fs-medium);
  font-weight: var(--fw-regular);
}

@media (max-width: 1100px) {
  .header-greeting {
    justify-content: flex-end;
    background-color: var(--c-white);
  }

  .header-greeting-title {
    display: none;
  }
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--c-white);
  transition: transform 0.5s ease;
}

/* Показ бургер-іконки коли sidebar прихований */
.sidebar.hidden+.logo .burger-icon {
  display: block;
}

.container {
  padding-left: 28px;
  padding-right: 28px;
}

.nav-list {
  margin-bottom: 600px;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  width: 250px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: none;
  /* background-color: var(--c-white); */
  color: var(--c-icon-grey);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.nav-link:hover {
  background-color: var(--c-violet);
  color: var(--c-white);
}

.nav-link:hover .icon {
  color: var(--c-white);
}

.nav-link-active {
  background-color: var(--c-violet);
  color: var(--c-white);
}

.nav-link .start {
  font-size: 24px;
  padding-right: 14px;
}

.icon-chevron-right {
  margin-left: auto;
}

.manager {
  display: flex;
  align-items: center;
  margin-bottom: 76px;
}

.manager-info {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.manager-name {
  font-weight: var(--fw-regular);
  color: var(--c-black);
}

.manager-position {
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);
}

/* Main */

.main {
  display: grid;
  grid-template-columns: 306px auto;
}

/* Section */

.section {
  padding-top: 40px;
  background-color: var(--c-bgd-grey);
  padding-left: 70px;
  padding-right: 95px;
}

.section-main {
  background-color: var(--c-white);
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 30px;
}

.section-main-inactive {
  display: none;
}

.section-main-active {
  display: block;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 53px;
}

.substring-title {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-middle);
  color: var(--c-black);
  margin-bottom: 7px;
}

.members {
  font-weight: var(--fw-regular);
  color: var(--c-green);
}

.input {
  width: 216px;
  border: none;
  outline: none;
  background-color: var(--c-bgd-grey);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.input::placeholder {
  font-weight: var(--fw-regular);
  font-size: var(--fs-small);
  color: var(--c-grey);
}

.search {
  position: relative;
}

.search-img {
  position: absolute;
  top: 8px;
  left: 9px;
  pointer-events: none;
}


/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

@media (max-width: 1100px) {
  .footer {
    flex-direction: column;
  }

  .footer-info {
    margin-bottom: 20px;
  }
}

.footer-info {
  color: var(--c-grey);
}

/* Pagination */

.pagination {
  display: flex;
  gap: 15px;
}

.pagination button {
  width: 30px;
  height: 24px;
  line-height: 12px;
  font-size: var(--fs-small);
  font-weight: var(--fw-medium);
  color: var(--c-arrow-grey);
  transition: background-color .3s;
  background-color: var(--c-bgd-grey);
  border: 1px solid var(--c-ultralight-grey);
  border-radius: 4px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-arrow-left,
.icon-arrow-right {
  display: block;
  width: 8px;
  height: 12px;
}

.pagination button.active {
  background-color: var(--c-violet);
  color: white;
}

.pagination button:hover:not(.active) {
  background-color: var(--c-ultralight-grey);
}